In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

https://zenodo.org/records/8196385/files/HDFS_v1.zip?download=1

In [7]:
data = np.load('./HDFS_v1/preprocessed/HDFS.npz', allow_pickle=True)

In [10]:
lst = data.files
for item in lst:
    print(item)
    print(data[item])

x_data
[list(['E5', 'E5', 'E5', 'E22', 'E11', 'E9', 'E11', 'E11', 'E9', 'E9', 'E26', 'E26', 'E26'])
 list(['E5', 'E22', 'E5', 'E5', 'E11', 'E9', 'E11', 'E9', 'E11', 'E9', 'E26', 'E26', 'E26'])
 list(['E5', 'E5', 'E5', 'E22', 'E11', 'E9', 'E11', 'E9', 'E11', 'E9', 'E26', 'E26', 'E26', 'E23', 'E23', 'E23', 'E21', 'E21', 'E21'])
 ...
 list(['E5', 'E22', 'E5', 'E5', 'E11', 'E9', 'E11', 'E9', 'E26', 'E26', 'E11', 'E9', 'E26', 'E4', 'E4', 'E3', 'E2', 'E23', 'E23', 'E23', 'E21', 'E21', 'E21'])
 list(['E5', 'E5', 'E22', 'E5', 'E11', 'E9', 'E11', 'E9', 'E26', 'E26', 'E11', 'E9', 'E26', 'E23', 'E23', 'E23', 'E21', 'E21', 'E21'])
 list(['E5', 'E5', 'E5', 'E22', 'E11', 'E9', 'E11', 'E9', 'E11', 'E9', 'E26', 'E26', 'E26', 'E23', 'E23', 'E23', 'E21', 'E21', 'E21'])]
y_data
[0 0 0 ... 0 0 0]

In [12]:
df = pd.read_csv("./HDFS_v1/preprocessed/Event_traces.csv")

In [42]:
len(eval(df["TimeInterval"][0]))

268

In [39]:
df["Features"][0]

NameError: name 'E5' is not defined

In [30]:
np.bincount(data["y_data"])

array([558223,  16838], dtype=int64)

In [25]:
df

,BlockId,Label,Type,Features,TimeInterval,Latency
0,blk_-1608999687919862906,Success,NaN,"[E5,E22,E5,E5,E11,E11,E9,E9,E11,E9,E26,E26,E26...","[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",3802
1,blk_7503483334202473044,Success,NaN,"[E5,E5,E22,E5,E11,E9,E11,E9,E11,E9,E26,E26,E26...","[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",3802
2,blk_-3544583377289625738,Fail,21.0,"[E5,E22,E5,E5,E11,E9,E11,E9,E11,E9,E3,E26,E26,...","[0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...",3797
3,blk_-9073992586687739851,Success,NaN,"[E5,E22,E5,E5,E11,E9,E11,E9,E11,E9,E26,E26,E26...","[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",50448
4,blk_7854771516489510256,Success,NaN,"[E5,E5,E22,E5,E11,E9,E11,E9,E11,E9,E26,E26,E26...","[0.0, 0.0, 1.0, 48.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",50583
...,...,...,...,...,...,...
575056,blk_1019720114020043203,Success,NaN,"[E5,E22,E5,E5,E26,E11,E9,E11,E9,E11,E9,E26,E26...","[0.0, 1.0, 0.0, 10.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",128
575057,blk_-2683116845478050414,Success,NaN,"[E5,E22,E5,E5,E11,E9,E26,E11,E9,E11,E9,E26,E26...","[0.0, 0.0, 0.0, 14.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",120
575058,blk_5595059397348477632,Success,NaN,"[E5,E5,E5,E22,E11,E9,E11,E9,E11,E9,E26,E26,E26...","[0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",111
575059,blk_1513937873877967730,Success,NaN,"[E5,E5,E5,E22,E11,E9,E11,E9,E11,E9,E26,E26,E26...","[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",106
575060,blk_-9128742458709757181,Fail,4.0,"[E5,E5,E5,E22,E11,E9,E11,E9,E11,E9,E28,E26,E28...","[0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",131

In [29]:
df["BlockId"].unique().shape

(575061,)

In [36]:
df["Label"].value_counts()

Label
Success    558223
Fail        16838
Name: count, dtype: int64